<!-- Here we display all the 
cafe shops that are located   (This code needs modification)-->
<ion-header text-center>
    <ion-navbar color="secondry" text-center>
        <ion-grid>
            <ion-row>
                <ion-col pull-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/filters.png">
            </button>
        </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
    <div class="container">
        <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" ref-search >
        </div>
        
    <agm-map [latitude] = 'lat' [longitude] = 'lng'
    [zoom]='12'>
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
      <agm-marker [latitude] = 'lat' [longitude] = 'lng'>
        <agm-info-window>
          <h4>you are here!</h4>
        </agm-info-window>

      </agm-marker>
      <agm-marker [latitude] = 'lat1' [longitude] = 'lng1' [iconUrl] = "'assets/imgs/onlycoffee.png'">
        <agm-info-window>
          <h5>{{desc1}}</h5>
        </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat2' [longitude] = 'lng2' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc2}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat3' [longitude] = 'lng3' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc3}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat4' [longitude] = 'lng4' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc4}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat5' [longitude] = 'lng5'[iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc5}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat6' [longitude] = 'lng6'[iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc6}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat7' [longitude] = 'lng7'[iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc7}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat8' [longitude] = 'lng8'[iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc8}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat9' [longitude] = 'lng9' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc9}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat10' [longitude] = 'lng10' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc10}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat11' [longitude] = 'lng11' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc11}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat12' [longitude] = 'lng12' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc12}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat13' [longitude] = 'lng13' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc13}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat14' [longitude] = 'lng14' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc14}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat15' [longitude] = 'lng15' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc15}}</h5>
  </agm-info-window>

</agm-marker>
<agm-marker [latitude] = 'lat16' [longitude] = 'lng16' [iconUrl] = "'assets/imgs/onlycoffee.png'">
  <agm-info-window>
    <h5>{{desc16}}</h5>
  </agm-info-window>

</agm-marker>

<agm-marker [latitude] = mylocations[72].latitude [longitude] =mylocations[72].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[72].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[73].latitude [longitude] =mylocations[73].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[73].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[74].latitude [longitude] =mylocations[74].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[74].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[75].latitude [longitude] =mylocations[75].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[75].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[76].latitude [longitude] =mylocations[76].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[76].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[77].latitude [longitude] =mylocations[77].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[77].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[78].latitude [longitude] =mylocations[78].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[78].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[79].latitude [longitude] =mylocations[79].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[79].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[80].latitude [longitude] =mylocations[80].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[80].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[81].latitude [longitude] =mylocations[81].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
    <p>
      {{mylocations[81].desc}}
    </p>
   </agm-info-window>
  </agm-marker>

  <agm-marker [latitude] = mylocations[82].latitude [longitude] =mylocations[82].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
      <p>
        {{mylocations[82].desc}}
      </p>
     </agm-info-window>
    </agm-marker>

</agm-marker-cluster>
    </agm-map>
  </div>
  <button ion-button (click)="suggestRefillr()"><img src="assets/imgs/JoinNow3.png"></button> 
</ion-content>
