<!--
  This page is to display my account. which will lead to other pages like 
  profile
  tracking user's impact
  notifications
  rewards
  share  
  (Still working on these features)
-->
<ion-header text-center>
    
       
    <ion-navbar text-center>
         <ion-grid>
               <ion-row>
                   <ion-col push-1>
                           <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                   </ion-col>
               </ion-row>
           </ion-grid>
        


         <ion-buttons end>
               <button ion-button icon-only menuToggle>
                 <img src="assets/imgs/Filters2.png">
               </button>
           </ion-buttons>
        
  </ion-navbar>

</ion-header>


<ion-content >
      <img src="assets/imgs/me3.png"/>
     
      <button ion-item [navPush] = "profilePage"><h3 ion-text color=light2>
         My Profile</h3></button>
      <button ion-item [navPush] = "trackPage">
          <h3 ion-text color=light2>Track My Impact</h3></button>
         <button ion-item [navPush]="qrscanPage">
            <h3 ion-text color=light2>Scan My Impact</h3></button>
          <button ion-item (click)="sharemyimpact()">
              <h3 ion-text color=light2>Share with Friends</h3></button>
       
      <button ion-item [navPush]="notificationsPage">
          <ion-label> <h3 ion-text color=light2>Notifications</h3></ion-label></button>
        
         <button ion-item (click)="reportFaulty()">
            <h3 ion-text color=light2> Report</h3></button>
                <ion-item>
                <a href="https://www.refillr.com.au"><h3 ion-text color=light2>Visit the Refillr Website</h3></a>
                 </ion-item>
</ion-content>
