page-myaccount {

    ion-content {
        background: #ffffff ! important;
        
            }
            a {
                color: inherit;
                text-decoration: inherit;
              }
}