<!--
  Generated template for the QrscanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

    <ion-navbar>
        <ion-grid>
            <ion-row>
              <ion-col pull-1>
                  <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-navbar>

</ion-header>


<ion-content style="background: none transparent;">
    <div padding>
        <h5 text-center><p ion-text color="light2">SCAN MY IMPACT</p></h5>
  <h5 ion-text color="light2">Scan your QR code to add a bottle of water or disposable cup to your impact tally.</h5>
 
        <ion-item>
          <ion-input type="text" placeholder="My QR data" [(ngModel)]="qrData">

          </ion-input>

        </ion-item>
        <button ion-button full color="danger" icon-left (click)="scanCode()"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
        <ion-card *ngIf=scannedCode>
          <ion-card-content>
            Result from scan: {{ scannedCode }}
          </ion-card-content>
        </ion-card>
      </div>
</ion-content>
