
<!--
  This page is to display the content of the About page of Refillr app.
--> 
<ion-header text-center >
  <ion-navbar>
    <ion-grid>
        <ion-row>
          <ion-col pull-1>
              <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <img alt= "About3" full width="350" height="250" src="assets/imgs/About3big.png"/>
  <h5 text-center><p ion-text color=light2>ABOUT REFILLR</p></h5>
  <p ion-text color=light2>In the beginning there were two girls, a rip to Tin Can Bay and an information board in the local park…
  </p>
  <p ion-text color=light2>The year was 2015 and our already organic, ethical and sustainable crusaders, Sandy and Belinda, came across an information board in the local park that said: 
  </p>
  <p ion-text color=light2><b>Sea Turtles Have Survived the Dinosaurs. But Will They Survive Man? </b></p>
  <p ion-text color=light2>The board went on to explain that plastic pollution was killing our sea turtles and marine life and that the problem was so bad, there was a good chance that sea turtles may not be around in the future. Due to our actions. </p>
  <p ion-text color=light2>Not ones to sit around and do nothing, Sandy and Belinda wanted to create a solution, a tool that would help reduce plastic waste on a local and global scale and in particular address the massive number of plastic water bottles ending up in landfill and oceans. And so, Refillr was born! </p>
  <p ion-text color=light2>To read the full story and what’s happened since that trip, you can visit the <a href="https://www.refillr.com.au">Refillr</a> website </p>
  <p ion-text color=light2>Love Sandy & Belinda xo</p>

</ion-content>
