page-login {
    .center{
        display: block;
    margin-left: auto;
    margin-right: auto;
   // width: 50%;

    }
   ion-content {
    background: #ffffff ! important;
    
        }

    

}
