<!-- This page is for user to login 
Form is loaded to login -->
<ion-header text-center>
               
  
    <ion-navbar color="secondry" text-center>
        <ion-grid>
            <ion-row>
                <ion-col push-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/Filters2.png">
            </button>
        

    </ion-buttons>
        
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form #f="ngForm"(ngSubmit)="onSignin(f)">
        
            <ion-item>
                <ion-label fixed color="light" >Username</ion-label>
                <ion-input type="email"
                ngModel
                name="email">
              </ion-input>
              </ion-item>
              
              
              <ion-item>
                  <ion-label fixed color="light">Password</ion-label>  <!--Field for password0
                  s-->
                  <ion-input type="password"
                  ngModel
                  name="password"
                  required
                  [minlength]="6"></ion-input>
                </ion-item>
              
                <button ion-button color="danger" block type="Submit"[disabled]="!f.valid">Login</button>
              </form> 
              <button ion-button clear full color="danger" (click)="onForgotPassword()">Forgot Password?</button>

              <button ion-button block color="danger" (click)=" loginwithfb()">

                Log In Facebook


              </button>


              


              
</ion-content>

