<!--
 This page gives the user info how to use Refillr application
-->
<ion-header text-center>
  
<ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col pull-1>
          <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
      </ion-col>
    </ion-row>
  </ion-grid>
   
</ion-navbar>
</ion-header>
 <ion-content padding>
    <img alt= "About1" full width="300" height="250" src="assets/imgs/About 1@2x.png"/>
  <h5 text-center><p ion-text color=light2>HOW TO USE REFILLR</p></h5>
  <p ion-text color=light2>Being an eco hero is pretty simple! And no, you don’t need a fancy cape. All you need is this Refillr app, your handy reusable water bottle and off you go! 
    </p>
  <p ion-text color=light2>Step 1: Download the Refillr app. And by the way, if you’re reading this, this one’s done.
    </p>
  <p ion-text color=light2>Step 2: Click on the map to find your nearest Refillr Station or water fountain. 
    </p>
  <p ion-text color=light2>Step 3: Refill your water bottle. 
    </p>
  <p ion-text color=light2>Step 4: Go to Track My Impact and click +1 under the water bottle. By the way, if you’re grabbing a coffee and using your own cup, you can track your impact here too. 
  </p>
  <p ion-text color=light2>Step 5: Smile, walk a little taller (strutting is definitely allowed) drink and enjoy! You’ve most definitely reduced the amount of rubbish going into our landfill and oceans and quite possibly just saved a little sea turtle or sea bird. Nice work buddy! 
    </p>
 </ion-content>
