<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar text-center>
        <img alt = "logo" height="20" src="assets/imgs/logo.png" >
    </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-title text-center><h5>Change Password</h5></ion-title>
  <ion-item>
    <ion-label><b>Email</b></ion-label>
    <ion-input type="email"
    [(ngModel)]="email">

    </ion-input>
    
  </ion-item>
 
    <ion-item>
        <button ion-button
        block
        full
        (click)="changePassword(email)">Change Password</button>
      </ion-item>
</ion-content>
