<!--
  Generated template for the MysavingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center>
      <ion-grid>
          <ion-row>
              <ion-col push-1>
                      <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
              </ion-col>
          </ion-row>
      </ion-grid>
   


    <ion-buttons end>
          <button ion-button icon-only menuToggle>
            <img src="assets/imgs/Filters2.png">
          </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="card-background-page">
    
  <h5 text-center><p ion-text  color="light"><b><p>See how much you've saved</p><p> in your wallet so far!!</p></b></p></h5>
         
          <ion-card text-center>

              <img alt= "plasticbottle" full height="350" src="assets/imgs/Hero3.png"/>
            <div  class= "card-title">Bottles</div>
            <div  class= "card-subtitle">${{this.savings}}</div>
          </ion-card>
         <h1 class="place-bottom"> <p ion-text color="light" text-center><b>Hurray!!</b></p></h1>
        </ion-content>