<!--
  Generated template for the FunstuffPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center >
    <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col pull-1>
                <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-navbar>
  </ion-header>
  


<ion-content padding>
    <h5 text-center><p ion-text color=light2>Fun Stuff</p></h5>
<p>Here at Refillr we’re mad about turtles. We love their cute and weird sort of ways. With their scaly skin and oval-shaped hard shell, with one deep breath they can stay under water for hours. Whilst on land, they hobble around ever so slo-wly, and with their wrinkly, bald heads, they remind us of an old wise man.</p>

<p>That’s why we’ve put together these 5 turtle terrific facts!</p>

<p>1. Turtles date back to the time of the dinosaurs, over 200 million years ago! They belong to one of the oldest reptile groups in the world, beating snakes, crocodiles and alligators! Woah!</p>

<p>2. Contrary to the popular saying “come out of your shell”, turtles actually can’t come out of their shell. Their shell grows with them which means, their shell is not too big, not to small, but just right.</p>

<p>3. Turtles are cold-blooded creatures with an incredibly long life span. The oldest ever recorded Turtle was name Tu”i Malila, of Tonga Island who passed away at the age of 188! Imagine the candles on that cake!</p>

<p>4. Turtles are sensitive creatures! Their shells contain nerve endings, which means they can safely retreat into their shells at the first touch of a predator. They have good eye sight, can see colors (particularly red) and have an excellent sense of hearing and smell.

  </p>
  <p>5. Not so fun fact, but oh so important. Of the 300 species of turtle and tortoise on Earth today, 129 are either vulnerable, endangered, or critically endangered. This state of affairs is reflection of not only of the health of turtles as a species, but the health of our oceans and environment, which means, if it’s not great for turtles, it’s not good for us either.

    </p>


</ion-content>

