<!--
  Page  for user to enter his/her comments on the app.
-->
<ion-header text-center >
    <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col pull-1>
                <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-navbar>
  </ion-header>
  
<ion-content>
  <div class="P">
  <img src="assets/imgs/feedback3.png">
 <div padding>
 <form #f="ngForm"(ngSubmit)="onFeedback(f)"> <!-- Form to submit the user feedback-->
  
  
      <ion-label fixed color="light" text-wrap>FULL NAME 
        </ion-label>
      <ion-item>
     <ion-input type="text"
     name = "name"
     required></ion-input></ion-item>
     <ion-label fixed color="light" text-wrap>
        EMAIL ADDRESS
      </ion-label>
      
     <ion-item>
     <ion-input
     type = "email"
     
     name="email"></ion-input></ion-item>
     
        <ion-label fixed color="light" text-wrap>
            MESSAGE
          </ion-label>
          <ion-item>     
      <ion-textarea type="text"
     ngModel
     name="comments"
     ></ion-textarea>
   </ion-item>

   
   <div class="button-bottom">
  <button ion-button
   color="danger"
   type="submit" 
   [disabled]="!f.valid"
   block
   full
   > Submit</button>
 </div>

  </form>
</div>

</div>
</ion-content>
