<!--
  Generated template for the EditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm">
    <!-- Displays all the required fields-->
         <ion-item>
             <ion-label fixed><h3>First Name</h3></ion-label>
             <ion-input type="text"
             ngModel
             name="text"
             required></ion-input>
           </ion-item>
           <ion-item>
               <ion-label fixed><h3>Last Name</h3></ion-label>
               <ion-input type="text"
               ngModel
               name="text"
               required></ion-input>
             </ion-item>  
         <ion-item>
         <ion-label fixed><h3>Email</h3></ion-label>
         <ion-input type="email"
         ngModel
         name="email"
         required></ion-input>
       </ion-item>
       </form>
</ion-content>
