<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center >
      <ion-navbar>
        <ion-grid>
            <ion-row>
              <ion-col pull-1>
                  <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-navbar>
    </ion-header>
    

<ion-content padding>
      <h5 text-center><p ion-text color=light2>TERMS OF USE</p></h5>
<p ion-text color=light2>1.	About the Application</p>
<p ion-text color=light2>1.1.	Welcome to Refillr (the 'Application'). The Application provides online mapping, tracking, monitoring, advertising and information services (the 'Services').</p>
<p ion-text color=light2> 1.2.	The Application is operated by  Natural Well PTY LTD.   (ABN 34 106 425 807) . Access to and use of the Application, or any of its associated Products or Services, is provided by Natural Well. Please read these terms and conditions (the 'Terms') carefully. By using, browsing and/or reading the Application, this signifies that you have read, understood and agree to be bound by the Terms. If you do not agree with the Terms, you must cease usage of the Application, or any of its Services, immediately.</p>
<p ion-text color=light2>1.3.	Natural Well reserves the right to review and change any of the Terms by updating this page at its sole discretion. When Natural Well updates the Terms, it will use reasonable endeavours to provide you with notice of updates to the Terms. Any changes to the Terms take immediate effect from the date of their publication. Before you continue, we recommend you keep a copy of the Terms for your records.</p>
<p ion-text color=light2>2.	Acceptance of the Terms</p>
<p ion-text color=light2>You accept the Terms by using or browsing the Application. You may also accept the Terms by clicking to accept or agree to the Terms where this option is made available to you by Natural Well in the user interface.</p>
<p ion-text color=light2>3.	Subscription to use the Services</p>
<p ion-text color=light2>3.1.	In order to access the Services, you must first purchase a subscription through the Application (the 'Subscription') and pay the applicable fee for the selected Subscription (the 'Subscription Fee').</p>
<p ion-text color=light2>3.2.	In purchasing the Subscription, you acknowledge and agree that it is your responsibility to ensure that the Subscription you elect to purchase is suitable for your use.</p>
<p ion-text color=light2>3.3.	Once you have purchased the Subscription, you will then be required to register for an account through the Application before you can access the Services (the 'Account').</p>
<p ion-text color=light2>3.4.	As part of the registration process, or as part of your continued use of the Services, you may be required to provide personal information about yourself (such as identification or contact details), including:</p>
<p ion-text color=light2>a)	Email address</p>
<p ion-text color=light2>(b)	Preferred username</p>
<p ion-text color=light2>(c)	Mailing address</p>
<p ion-text color=light2>(d)	Telephone number</p>
<p ion-text color=light2>(e)	Password</p>
<p ion-text color=light2>3.5.	You warrant that any information you give to Natural Well in the course of completing the registration process will always be accurate, correct and up to date.</p>
<p ion-text color=light2> 3.6.	Once you have completed the registration process, you will be a registered member of the Application ('Member') and agree to be bound by the Terms. As a Member you will be granted immediate access to the Services from the time you have completed the registration process until the subscription period expires (the 'Subscription Period').</p>
<p ion-text color=light2> 3.7.	You may not use the Services and may not accept the Terms if:</p>
<p ion-text color=light2>(a)	you are not of legal age to form a binding contract with Natural Well; or</p>
<p ion-text color=light2> (b)	you are a person barred from receiving the Services under the laws of Australia or other countries including the country in which you are resident or from which you use the Services.</p>
<p ion-text color=light2> 4.	Your obligations as a Member</p>
<p ion-text color=light2> 4.1.	As a Member, you agree to comply with the following:</p>
<p ion-text color=light2> (a)	you will use the Services only for purposes that are permitted by:</p>
<p ion-text color=light2> i.	the Terms; and</p>
<p ion-text color=light2> ii.	any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions;</p>
<p ion-text color=light2>(b)	you have the sole responsibility for protecting the confidentiality of your password and/or email address. Use of your password by any other person may result in the immediate cancellation of the Services;</p>
<p ion-text color=light2>(c)	any use of your registration information by any other person, or third parties, is strictly prohibited. You agree to immediately notify Natural Well of any unauthorised use of your password or email address or any breach of security of which you have become aware;</p>
<p ion-text color=light2> (d)	access and use of the Application is limited, non-transferable and allows for the sole use of the Application by you for the purposes of Natural Well providing the Services;</p>
<p ion-text color=light2> (e)	you will not use the Services or the Application in connection with any commercial endeavours except those that are specifically endorsed or approved by the management of Natural Well;</p>
<p ion-text color=light2> (f)	you will not use the Services or Application for any illegal and/or unauthorised use which includes collecting email addresses of Members by electronic or other means for the purpose of sending unsolicited email or unauthorised framing of or linking to the Application;</p>
<p ion-text color=light2> (g)	you agree that commercial advertisements, affiliate links, and other forms of solicitation may be removed from the Application without notice and may result in termination of the Services. Appropriate legal action will be taken by Natural Well for any illegal or unauthorised use of the Application; and </p> 
<p ion-text color=light2>5.	Payment</p>
<p ion-text color=light2>5.1.	Where the option is given to you, you may make payment of the Subscription Fee by way of:</p>
<p ion-text color=light2>(a)	Electronic funds transfer('EFT') into our nominated bank account</p>
<p ion-text color=light2>(b)	Credit Card Payment ('Credit Card')</p>
<p ion-text color=light2>(c)	PayPal ('PayPal')</p>
<p ion-text color=light2>(d)	Afterpay (' Afterpay ')</p>
<p ion-text color=light2>	All payments made in the course of your use of the Services are made using PayPal or other secure Gateway. In using the Application, the Services or when making any payment in relation to your use of the Services, you warrant that you have read, understood and agree to be bound by the PayPal or other secure Gateway terms and conditions which are available on their Application.</p>
<p ion-text color=light2>5.3.	You acknowledge and agree that where a request for the payment of the Subscription Fee is returned or denied, for whatever reason, by your financial institution or is unpaid by you for any other reason, then you are liable for any costs, including banking fees and charges, associated with the Subscription Fee .</p>
<p ion-text color=light2> 5.4.	You agree and acknowledge that Natural Well can vary the Subscription Fee at any time  and that the varied Subscription Fee will come into effect following the conclusion of the existing Subscription Period.</p>
<p ion-text color=light2>6.	Refund Policy</p>
<p ion-text color=light2>Natural Well will only provide you with a refund of the Subscription Fee in the event they are unable to continue to provide the Services or if the manager of Natural Well makes a decision, at its absolute discretion, that it is reasonable to do so under the circumstances . Where this occurs, the refund will be in the proportional amount of the Subscription Fee that remains unused by the Member (the 'Refund').</p>
<p ion-text color=light2> 7.	Copyright and Intellectual Property</p>
<p ion-text color=light2> 7.1.	The Application, the Services and all of the related products of Natural Well are subject to copyright. The material on the Application is protected by copyright under the laws of Australia and through international treaties. Unless otherwise indicated, all rights (including copyright) in the Services and compilation of the Application (including but not limited to text, graphics, logos, button icons, video images, audio clips, Application, code, scripts, design elements and interactive features) or the Services are owned or controlled for these purposes, and are reserved by Natural Well or its contributors.</p>
<p ion-text color=light2>7.2.	All trademarks, service marks and trade names are owned, registered and/or licensed by Natural Well, who grants to you a worldwide, non-exclusive, royalty-free, revocable license whilst you are a Member to:</p>
<p ion-text color=light2> (a)	use the Application pursuant to the Terms;</p>
<p ion-text color=light2>(b)	copy and store the Application and the material contained in the Application in your device's cache memory; and</p>
 <p ion-text color=light2>(c)	print pages from the Application for your own personal and non-commercial use.</p>
<p ion-text color=light2>Natural Well does not grant you any other rights whatsoever in relation to the Application or the Services. All other rights are expressly reserved by Natural Well.</p>
 <p ion-text color=light2>7.3.	Natural Well retains all rights, title and interest in and to the Application and all related Services. Nothing you do on or in relation to the Application will transfer any:</p>
<p ion-text color=light2>(a)	business name, trading name, domain name, trade mark, industrial design, patent, registered design or copyright, or</p>
<p ion-text color=light2>(b)	a right to use or exploit a business name, trading name, domain name, trade mark or industrial design, or</p>
<p ion-text color=light2>(c)	a thing, system or process that is the subject of a patent, registered design or copyright (or an adaptation or modification of such a thing, system or process),
       to you.</p>
<p ion-text color=light2>7.4.	You may not, without the prior written permission of Natural Well and the permission of any other relevant rights owners: broadcast, republish, up-load to a third party, transmit, post, distribute, show or play in public, adapt or change in any way the Services or third party Services for any purpose, unless otherwise provided by these Terms. This prohibition does not extend to materials on the Application, which are freely available for re-use or are in the public domain.</p>
<p ion-text color=light2>8. Privacy</p>
<p ion-text color=light2>Natural Well takes your privacy seriously and any information provided through your use of the Application and/or Services are subject to Natural Well's Privacy Policy, which is available on the Application and at www.refillr.com.au/privacy.</p>
<p ion-text color=light2> 9.	General Disclaimer</p>
 <p ion-text color=light2>  9.1.	Nothing in the Terms limits or excludes any guarantees, warranties, representations or conditions implied or imposed by law, including the Australian Consumer Law (or any liability under them) which by law may not be limited or excluded.</p>
<p ion-text color=light2>  9.2.	Subject to this clause, and to the extent permitted by law:</p>
<p ion-text color=light2>   (a) all terms, guarantees, warranties, representations or conditions which are not expressly stated in the Terms are excluded; and</p>
<p ion-text color=light2>   (b)Natural Well will not be liable for any special, indirect or consequential loss or damage (unless such loss or damage is reasonably foreseeable resulting from our failure to meet an applicable Consumer Guarantee), loss of profit or opportunity, or damage to goodwill arising out of or in connection with the Services or these Terms (including as a result of not being able to use the Services or the late supply of the Services), whether at common law, under contract, tort (including negligence), in equity, pursuant to statute or otherwise.</p>
<p ion-text color=light2>    9.3.	Use of the Application and the Services is at your own risk. Everything on the Application and the Services is provided to you "as is" and "as available" without warranty or condition of any kind. None of the affiliates, directors, officers, employees, agents, contributors and licensors of Natural Well make any express or implied representation or warranty about the Services or any products or Services (including the products or Services of Natural Well) referred to on the Application. This includes (but is not restricted to) loss or damage you might suffer as a result of any of the following:</p>
<p ion-text color=light2>   (a)	failure of performance, error, omission, interruption, deletion, defect, failure to correct defects, delay in operation or transmission, computer virus or other harmful component, loss of data, communication line failure, unlawful third party conduct, or theft, destruction, alteration or unauthorised access to records;</p>
<p ion-text color=light2>   (b)	the accuracy, suitability or currency of any information on the Application, the Services, or any of its Services related products (including third party material and advertisements on the Application);</p>
<p ion-text color=light2>   (c)	costs incurred as a result of you using the Application, the Services or any of the products of Natural Well; and</p>
 <p ion-text color=light2>  (d)	the Services or operation in respect to links which are provided for your convenience.</p>
  <p ion-text color=light2>  10.	Competitors</p>
   <p ion-text color=light2>    If you are in the business of providing similar Services for the purpose of providing them to users for a commercial gain, whether business users or domestic users, then you are a competitor of Natural Well. Competitors are not permitted to use or access any information or content on our Application. If you breach this provision, Natural Well will hold you fully responsible for any loss that we may sustain and hold you accountable for all profits that you might make from such a breach.</p>
   <p ion-text color=light2> 11.	Limitation of liability</p>
    <p ion-text color=light2>11.1.	Natural Well's total liability arising out of or in connection with the Services or these Terms, however arising, including under contract, tort (including negligence), in equity, under statute or otherwise, will not exceed the resupply of the Services to you.</p>
    <p ion-text color=light2>11.2.	You expressly understand and agree that Natural Well, its affiliates, employees, agents, contributors and licensors shall not be liable to you for any direct, indirect, incidental, special consequential or exemplary damages which may be incurred by you, however caused and under any theory of liability. This shall include, but is not limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business reputation and any other intangible loss.</p>
   <p ion-text color=light2> 12.	Termination of Contract</p>
  <p ion-text color=light2>  12.1.	The Terms will continue to apply until terminated by either you or by Natural Well as set out below.</p>
  <p ion-text color=light2> 12.2.	If you want to terminate the Terms, you may do so by:</p>
 <p ion-text color=light2>(a)	not renewing the Subscription prior to the end of the Subscription Period;</p>
 <p ion-text color=light2>(b)	providing Natural Well with 30  days' notice of your intention to terminate; and</p>
 <p ion-text color=light2>(c)	closing your accounts for all of the services which you use, where Natural Well has made this option available to you.</p>
<p ion-text color=light2> Your notice should be sent, in writing, to Natural Well via the 'Contact Us' link on our homepage.</p>
<p ion-text color=light2>    12.3.	Natural Well may at any time, terminate the Terms with you if:</p>
 <p ion-text color=light2>   (a)	you do not renew the Subscription at the end of the Subscription Period;</p>
  <p ion-text color=light2>  (b)	you have breached any provision of the Terms or intend to breach any provision;</p>
   <p ion-text color=light2> (c)	Natural Well is required to do so by law;</p>
<p ion-text color=light2>(d)	the provision of the Services to you by Natural Well is, in the opinion of Natural Well, no longer commercially viable.</p>
<p ion-text color=light2>12.4.Subject to local applicable laws, Natural Well reserves the right to discontinue or cancel your membership at any time and may suspend or deny, in its sole discretion, your access to all or any portion of the Application or the Services without notice if you breach any provision of the Terms or any applicable law or if your conduct impacts Natural Well's name or reputation or violates the rights of those of another party.</p>
<p ion-text color=light2>13.Indemnity</p>
 <p ion-text color=light2>13.1. You agree to indemnify Natural Well, its affiliates, employees, agents, contributors, third party content providers and licensors from and against:</p>
<p ion-text color=light2>(a)	all actions, suits, claims, demands, liabilities, costs, expenses, loss and damage (including legal fees on a full indemnity basis) incurred, suffered or arising out of or in connection with Your Content;</p>
 <p ion-text color=light2>   (b)	any direct or indirect consequences of you accessing, using or transacting on the Application or attempts to do so; and/or</p>
 <p ion-text color=light2> (c)	any breach of the Terms.</p>
<p ion-text color=light2>  14.	Dispute Resolution</p>
<p ion-text color=light2>14.1. Compulsory:</p>
<p ion-text color=light2>If a dispute arises out of or relates to the Terms, either party may not commence any Tribunal or Court proceedings in relation to the dispute, unless the following clauses have been complied with (except where urgent interlocutory relief is sought).</p>
<p ion-text color=light2>14.2. Notice:</p>
<p ion-text color=light2>A party to the Terms claiming a dispute ('Dispute') has arisen under the Terms, must give written notice to the other party detailing the nature of the dispute, the desired outcome and the action required to settle the Dispute.</p>
<p ion-text color=light2>14.3.	Resolution:</p>
<p ion-text color=light2>On receipt of that notice ('Notice') by that other party, the parties to the Terms ('Parties') must:</p>
<p ion-text color=light2>a)	Within 30 days of the Notice endeavour in good faith to resolve the Dispute expeditiously by negotiation or such other means upon which they may mutually agree;</p>
<p ion-text color=light2>(b)	If for any reason whatsoever, 14 days after the date of the Notice, the Dispute has not been resolved, the Parties must either agree upon selection of a mediator or request that an appropriate mediator be appointed by the President of the Australian Mediation Association or his or her nominee;</p>
<p ion-text color=light2>(c)	The Parties are equally liable for the fees and reasonable expenses of a mediator and the cost of the venue of the mediation and without limiting the foregoing undertake to pay any amounts requested by the mediator as a pre-condition to the mediation commencing. The Parties must each pay their own costs associated with the mediation;</p>
<p ion-text color=light2>(d)	The mediation will be held in a location to be confirmed in, Victoria, Australia.</p>
<p ion-text color=light2>14.4.	Confidential</p>
<p ion-text color=light2>All communications concerning negotiations made by the Parties arising out of and in connection with this dispute resolution clause are confidential and to the extent possible, must be treated as "without prejudice" negotiations for the purpose of applicable laws of evidence.</p>
<p ion-text color=light2>14.5.	Termination of Mediation:</p>
<p ion-text color=light2> If 2 weeks have elapsed after the start of a mediation of the Dispute and the Dispute has not been resolved, either Party may ask the mediator to terminate the mediation and the mediator must do so.</p>
<p ion-text color=light2>15.	Venue and Jurisdiction</p>
<p ion-text color=light2>The Services offered by Natural Well is intended to be viewed by residents of Australia. In the event of any dispute arising out of or in relation to the Application, you agree that the exclusive venue for resolving any dispute shall be in the courts of Victoria, Australia.</p>
<p ion-text color=light2>16.	Governing Law</p>
<p ion-text color=light2>The Terms are governed by the laws of Victoria, Australia. Any dispute, controversy, proceeding or claim of whatever nature arising out of or in any way relating to the Terms and the rights created hereby shall be governed, interpreted and construed by, under and pursuant to the laws of Victoria, Australia, without reference to conflict of law principles, notwithstanding mandatory rules. The validity of this governing law clause is not contested. The Terms shall be binding to the benefit of the parties hereto and their successors and assigns.</p>
<p ion-text color=light2>17.	Independent Legal Advice</p>
<p ion-text color=light2>Both parties confirm and declare that the provisions of the Terms are fair and reasonable and both parties having taken the opportunity to obtain independent legal advice and declare the Terms are not against public policy on the grounds of inequality or bargaining power or general grounds of restraint of trade.</p>
<p ion-text color=light2>18.	Severance</p>
<p ion-text color=light2>If any part of these Terms is found to be void or unenforceable by a Court of competent jurisdiction, that part shall be severed and the rest of the Terms shall remain in force.</p>
     

</ion-content>
