<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>
        <ion-navbar>
                <ion-grid>
                    <ion-row>
                      <ion-col pull-1>
                          <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-navbar>
</ion-header>


<ion-content padding>
    <h5 ion-text color="light1" text-center>MY PROFILE</h5> 
        <!-- Displays all the required fields-->
        <ion-item>
           <ion-label fixed color="light" text-wrap>First Name:</ion-label>
           <ion-input type="text"
           [(ngModel)]="firstname"
           ></ion-input>
         </ion-item>
         <ion-item>
             <ion-label fixed color="light" text-wrap>Last Name:</ion-label>
             <ion-input type="text"
             [(ngModel)]="lastname"></ion-input>
           </ion-item>  
           <ion-item>
           <ion-label fixed color="light" text-wrap>Post Code:</ion-label>
           <ion-input type="number"
           [(ngModel)]="contactno"></ion-input>
         </ion-item>  
     <ion-item>
         <ion-label fixed color="light" text-wrap>Email:</ion-label>
         <ion-input type="email"
         [(ngModel)]="email" disabled></ion-input>
       </ion-item>     
             
                           
<ion-list>
           <button ion-button block type="submit" color="danger" (click)="updateProfile(firstname,lastname,contactno,street,suburb,city,state,post)"><b>Update</b></button>
        </ion-list>   
        
           <button ion-button block type="submit" color="danger" [navPush]="changepasswordPage"><b>Change Password</b></button>
         </ion-content>
