<!--
  This page is to enter the details of the cafe's who are interested to be a part of Refillr app.
-->
<ion-header>

    <ion-navbar text-center>
        <img alt = "logo" height="20" src="assets/imgs/logo.png" >
    </ion-navbar>

</ion-header>


<ion-content padding>
 
  <h5 ion-text color="light2" text-center>SIGN UP!!</h5> 
  <form #f="ngForm"(ngSubmit)="submitBecomeRefillr(f)"> <!--Form to enter cafe's details-->
    
    <ion-item>
        <ion-label fixed color="light" text-wrap>Contact Name:</ion-label>
        <ion-input type="text" 
        ngModel
        name="name"
        required>
      </ion-input>
      </ion-item>
      
      
      <ion-item>
          <ion-label fixed color="light" text-wrap>Business Name:</ion-label>
          <ion-input type="text"
          ngModel
          name="businessname"
          required>
        </ion-input>
        </ion-item>
    
  
        <ion-item>
            <ion-label fixed color="light" text-wrap>Contact No:</ion-label>
            <ion-input type="number"
            ngModel
            name="contactno"
            required>
          </ion-input>
          </ion-item>
      
      
          <ion-item>
              <ion-label fixed color="light" text-wrap>Address:</ion-label>
          
      
              <ion-input type="text"
              ngModel
              name="street"
              required
              placeholder="Street name">
            </ion-input>
          </ion-item>
        
            <ion-item>
                <ion-label fixed></ion-label>
                <ion-input type="text"
                ngModel
                name="suburb"
                required
                placeholder="Suburb">
            </ion-input>
              </ion-item>
              <ion-item>
                  <ion-label fixed></ion-label>
                  <ion-input type="text"
                  ngModel
                  name="city"
                  required
                  placeholder="city">
              </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label fixed></ion-label>
                    <ion-input type="text"
                    ngModel
                    name="state"
                    required
                    placeholder="state">
                </ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label fixed></ion-label>
                      <ion-input type="text"
                      ngModel
                      name="post"
                      required
                      placeholder="post">
                  </ion-input>
                    </ion-item>
                    
                  <ion-grid>
                    <ion-row>
                      <ion-col>

                      </ion-col>
                      <ion-col>

                      </ion-col>
                      <ion-col>
                        
                      </ion-col>
                      <ion-col>
                          <button ion-button full color="danger" type="submit" [disabled]="!f.valid">
                            Submit
                            </button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                 
  </form>
</ion-content>
