page-registration {
    .button-bottom{
        position: absolute;
        bottom: 10%;
        width: 92%;
    }
    ion-content {
        background: #ffffff ! important;
        
            }
   
}
