<!-- This page gets all the info from the user 
required for registration.
Forms are used-->
<ion-header text-center>
               
 
    <ion-navbar color="secondry" text-center>
        <ion-grid>
            <ion-row>
                <ion-col push-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/Filters2.png">
            </button>
        

    </ion-buttons>
       </ion-navbar>
       </ion-header> 


<ion-content padding>
  <!-- Form ref has been created to pass this form as argument-->
<form #f="ngForm"(ngSubmit)="onSignUp(f)">
 <!-- Displays all the required fields-->
 <ion-item>
    <ion-label fixed color="light" text-wrap>First Name:</ion-label>
    <ion-input type="text"
    ngModel
    name="firstname"
    required
    ></ion-input>
  </ion-item>
  <ion-item>
      <ion-label fixed color="light" text-wrap>Last Name:</ion-label>
      <ion-input type="text"
      ngModel
      name="lastname"
      required></ion-input>
    </ion-item>  

      <ion-item>
      <ion-label fixed color="light" text-wrap>Email:</ion-label>
      <ion-input type="email"
      ngModel
      name="email"
      required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label fixed color="light" text-wrap>Password:</ion-label>
        <ion-input type="password"
        ngModel
        name="password"
        required
        [minlength]="6"></ion-input> <!-- password length should be 6-->
      </ion-item> 
      <ion-item>
    <ion-label fixed color="light" text-wrap>Confirm Password:</ion-label>
        <ion-input type="password"
        ngModel
        name="confirm password"
        required
        [minlength]="6"></ion-input>
      </ion-item> 
    
            
    
              
     
    <button ion-button class="button-bottom" color="danger" block type="Submit"[disabled]="!f.valid"> <img src="assets/imgs/signmeup2.png"/> </button>
  </form>
</ion-content>
