<!--This page is where the user can register and login to the Refillr app-->
  <ion-navbar>
    <ion-title> home </ion-title>
  </ion-navbar>


<ion-content padding>
  <button  ion-button [navPush] = "loginPage">Login</button>          <!--Login Button-->
  <hr>
  <button  ion-button [navPush] = "registrationPage">Signup</button>  <!--Signup Button-->
</ion-content>


