<ion-header text-center >
  <ion-navbar text-center>
    <img alt = "logo" height="20" src="assets/imgs/logo.png" >
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h5 text-center><p ion-text color="light2">BECOME A REFILLR</p></h5>
  <h2><p ion-text color="light" text-center>Perks of becoming a Refillr </p></h2>

  <ion-grid>
      
<ion-row >
  <ion-col text-right> <h5><p ion-text color="light2">Attract New Customers</p></h5>
    </ion-col>
    <ion-col align-item-left>
        <img  alt= "Customers" width = "90" height = "100" src="assets/imgs/Customers.png">
    </ion-col>
    
      </ion-row>
      
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col pull-2>
            <img  alt= "Hero" width = "90" height = "140" src="assets/imgs/hero1.png">
          </ion-col>
          <ion-col pull-2><h5><p ion-text color="light2">Be a Local Community Hero</p></h5></ion-col>
      </ion-row>
    
         
      <ion-row >
        
            <ion-col text-right><h5><p ion-text color="light2">Planet Friendly</p></h5> </ion-col>
            <ion-col align-item-left>
                <img  alt= "Planet" width = "90" height = "100" src="assets/imgs/planet1.png">
            </ion-col>
            
              </ion-row>
  </ion-grid>
  <h5><p ion-text color="light2">Head to our website for more information </p></h5>

<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col pull-1>
        <img alt= "Arrow" width = "50" height = "20" src="assets/imgs/Arrow1.png">
    </ion-col> 

      </ion-row>
      </ion-grid>

 
      <a href="https://www.Refillr.com.au"><img src="assets/imgs/Signmeup3.png"></a>
  </ion-content>
 