<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center >
    <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col pull-1> 
                <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-navbar>
  </ion-header>
  

<ion-content padding>
    <ion-grid>
      
        <ion-row>
            
            <ion-col>
    <img alt= "About 2" full width="400" height="250" src="assets/imgs/About 2.png"/>
  </ion-col>
    </ion-row>
  
    </ion-grid>
    <h5 text-center><p ion-text color=light2>HELP</p></h5>
    <p ion-text color=light2>Stuck on something, have a burning question or experiencing a technical glitch?</p>
  <p ion-text color=light2>Don't fret, help is at hand!</p>
  <p ion-text color=light2>Just email <a href="hello@refillr.com.au">hello@refillr.com.au</a> and we'll be back in touch as soon as we can.</p>
</ion-content>
