
<!-- This page is to display skip page 1. Content needs to be modified-->
<ion-header>

  <ion-navbar text-center>
    <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo3.png" ></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-slides pager> 
      <ion-slide>
  <ion-grid>
    <ion-row pull-10>
      
      <ion-col >
        <img alt="splashpage1" width = "300" height="360" src="assets/imgs/splashpage1.png">
      </ion-col>
    </ion-row>
        
  </ion-grid>
  </ion-slide>
  <ion-slide>
      <ion-grid>
          <ion-row>
            
              <img alt="skip2page" height= "300" src ="assets/imgs/splashpage2.png">
            
          </ion-row>
          <ion-row>
            <ion-col>
                <h5 text-center ><p ion-text color="light2">WHAT IS THE PROBLEM?</p></h5>
          <h2><p ion-text color="light" text-center><b>A million plastic water bottles are bought every minute!</b></p></h2>
          <h5><p ion-text color=light2>Most end up in landfill and oceans. Killing our 
            see turtles, seabirds, fish, whales and dolphins, they're harmful to us too.</p></h5>
        </ion-col>
          </ion-row>
        </ion-grid>
      
  </ion-slide>
  <ion-slide pager="false">
    
      <img full alt="skip3page" height="300" width="500" src ="assets/imgs/SP3.png">
    <ion-grid>
          <ion-row>
            <ion-col>
                <h5 text-center ><p ion-text color="light2">BE THE SOLUTION </p></h5>  
          <h2><p ion-text color="light" text-center><b>Refill your water bottle for free!</b></p></h2>
          <h5><p ion-text color=light2>Find your nearest Refillr Station, fill your water bottle up and go! Going plastic free is good for you and awesome for our planet.</p></h5>
        </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              


              <div (click)="onClickSkip()"> <img src="assets/imgs/RefillMe3.png"></div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
 
  </ion-slide>
  </ion-slides>
</ion-content>
