ion-icon {
    &[class*="custom-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 25px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="chat"][ng-reflect-is-active="true"] {
        background: url("/assets/imgs/ManMenuActive3.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="chat"][ng-reflect-is-active="false"] {
        background: url("/assets/imgs/MainMenuIcon3.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of inactive
    &[class*="group"] {
        background: url("/assets/imgs/MainMenuIcon3.png") no-repeat 50% 50%;
        background-size: contain;
    }

    &[class*="custom1-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 25px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="chat1"][ng-reflect-is-active="true"] {
        background: url("/assets/imgs/MapActive3.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="chat1"][ng-reflect-is-active="false"] {
        background: url("/assets/imgs/Map3.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of inactive
    &[class*="group"] {
        background: url("/assets/imgs/Map3.png") no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="custom2-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 25px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="chat2"][ng-reflect-is-active="true"] {
        background: url("/assets/imgs/ShopActive3.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="chat2"][ng-reflect-is-active="false"] {
        background: url("/assets/imgs/Shop3.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of inactive
    &[class*="group"] {
        background: url("/assets/imgs/Shop3.png") no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="custom3-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 25px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="chat3"][ng-reflect-is-active="true"] {
        background: url("/assets/imgs/MyAccountActive2.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="chat3"][ng-reflect-is-active="false"] {
        background: url("/assets/imgs/MyAccount2.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of inactive
    &[class*="group"] {
        background: url("/assets/imgs/MyAccount2.png") no-repeat 50% 50%;
        background-size: contain;
    }
    &[class*="custom4-"] {
        margin: 0 5px 0 0;
        vertical-align: middle;
        $sz: 25px;
        width: $sz;
        height: $sz;
    } // custom icons
    &[class*="chat4"][ng-reflect-is-active="true"] {
        background: url("/assets/imgs/dollarinactive.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of active
    &[class*="chat4"][ng-reflect-is-active="false"] {
        background: url("/assets/imgs/dollar.png") no-repeat 50% 50%;
        background-size: contain;
    }//in case of inactive
    &[class*="group"] {
        background: url("/assets/imgs/dollar.png") no-repeat 50% 50%;
        background-size: contain;
    }
   
}