page-mainmenu {
    .myOverlay{
        width: 60%;
        height: 60px;
        position: absolute;
        z-index: 99;
        left: 50%;
        bottom: 17%;
        opacity: 0.5;
      
        color: #070606
    }
    ion-content {
        background: #ffffff ! important;
        
            }
            .button-bottom{
                position: absolute;
                bottom: 0%;
               // width: 92%;
            
            }
        }
        
