<!-- Display the main menu-->
<ion-header>

                <ion-navbar text-center>
                    <ion-grid>
                        <ion-row>
                            <ion-col push-1>
                                    <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                 


                  <ion-buttons end>
                        <button ion-button icon-only menuToggle>
                          <img src="assets/imgs/Filters2.png">
                        </button>
                    </ion-buttons>
               
                </ion-navbar>
              
</ion-header>
              


<ion-content>
<div class="P">
     <img src="assets/imgs/mainmenu3.png"/>
    <button ion-item [navPush] ="howtousePage">
            <h3 ion-text color=light2>How to use Refillr</h3></button>
    <button ion-item [navPush] ="aboutPage">
            <h3 ion-text color=light2>About Refillr</h3></button>
    <button ion-item [navPush] ="feedbackPage">
            <h3 ion-text color=light2>Send Us Feedback</h3></button>
    <button ion-item [navPush]= "helpPage">
        
            <h3 ion-text color=light2>Help</h3></button>
        <button ion-item [navPush]= "funstuffPage">
        
                <h3 ion-text color=light2>Fun Stuff</h3></button>
            
    <button ion-item [navPush] ="policyPage">
       
            <h3 ion-text color=light2>Privacy Policy</h3></button>
    <button ion-item [navPush] ="termsPage">
            <h3 ion-text color=light2>Terms of Use</h3></button>
         
        <div (click)="onClickBecome()" class="button-bottom"><img src="assets/imgs/becomearefillr3.png"></div>
        </div>
        
        
</ion-content>
