<!-- This is the main map page
User can see the map features even if the user is not logged in-->
<ion-header text-center>
    
    
    <ion-navbar text-center>
        <ion-grid>
            <ion-row>
                <ion-col push-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/Filters2.png">
            </button>
        </ion-buttons>
   
    </ion-navbar>
    
  

</ion-header>
<ion-content>
    <div class="container">
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" ref-search >
    </div>
    
    <agm-map [latitude] = 'latnew'
  [longitude]= 'longnew'
  [zoom] = '12'>
  <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
  <agm-marker [latitude] = 'latnew' [longitude] = 'longnew'>
    <agm-info-window>
      
      <p>you are here!</p>
    </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[0].latitude [longitude] =mylocations[0].longitude  [iconUrl] = "'assets/imgs/fountainandcoffee.png'">
     <agm-info-window>
    <p>
      {{mylocations[0].desc}}
    </p>
   </agm-info-window>
 </agm-marker>
  <agm-marker [latitude] = mylocations[1].latitude [longitude] =mylocations[1].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'"><agm-info-window>
     <p>
       {{mylocations[1].desc}}
     </p>
    </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[2].latitude [longitude] =mylocations[2].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'"><agm-info-window>
    <p>
      {{mylocations[2].desc}}
    </p>
   </agm-info-window>
 </agm-marker>
 <agm-marker [latitude] = mylocations[3].latitude [longitude] =mylocations[3].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'"><agm-info-window>
  <p>
    {{mylocations[3].desc}}
  </p>
 </agm-info-window>
</agm-marker>
  
<agm-marker [latitude] = mylocations[4].latitude [longitude] =mylocations[4].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'"><agm-info-window>
  <p>
    {{mylocations[4].desc}}
  </p>
 </agm-info-window>
</agm-marker>
<agm-marker [latitude] = mylocations[5].latitude [longitude] =mylocations[5].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'"><agm-info-window>
  <p>
    {{mylocations[5].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[6].latitude [longitude] =mylocations[6].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[6].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[7].latitude [longitude] =mylocations[7].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[7].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[8].latitude [longitude] =mylocations[8].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[8].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[9].latitude [longitude] =mylocations[9].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[9].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[10].latitude [longitude] =mylocations[10].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[10].desc}}
  </p>
 </agm-info-window>
</agm-marker>
<agm-marker [latitude] = mylocations[11].latitude [longitude] =mylocations[11].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[11].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[12].latitude [longitude] =mylocations[12].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[12].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[13].latitude [longitude] =mylocations[13].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[13].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[14].latitude [longitude] =mylocations[14].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[14].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[15].latitude [longitude] =mylocations[15].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
  <p>
    {{mylocations[15].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[16].latitude [longitude] =mylocations[16].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[16].desc}}
  </p>
 </agm-info-window>
</agm-marker>
<agm-marker [latitude] = mylocations[17].latitude [longitude] =mylocations[17].longitude [iconUrl] = "'assets/imgs/fountain.png'" >    <agm-info-window>
  <p>
    {{mylocations[17].desc}}
  </p>
 </agm-info-window>
</agm-marker>
<agm-marker [latitude] = mylocations[18].latitude [longitude] =mylocations[18].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[18].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[19].latitude [longitude] =mylocations[19].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[19].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[20].latitude [longitude] =mylocations[20].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[20].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[21].latitude [longitude] =mylocations[21].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[21].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[22].latitude [longitude] =mylocations[22].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[22].desc}}
  </p>
 </agm-info-window>
</agm-marker><agm-marker [latitude] = mylocations[23].latitude [longitude] =mylocations[23].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
  <p>
    {{mylocations[23].desc}}
  </p>
 </agm-info-window>
</agm-marker>
<agm-marker [latitude] = mylocations[24].latitude  [longitude] =mylocations[24].longitude  [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
    <p>
      {{mylocations[24].desc}}
    </p>
   </agm-info-window>
  </agm-marker>
  <agm-marker [latitude] = mylocations[25].latitude [longitude] =mylocations[25].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
      <p>
        {{mylocations[25].desc}}
      </p>
     </agm-info-window>
    </agm-marker>
    <agm-marker [latitude] = mylocations[26].latitude [longitude] =mylocations[26].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
        <p>
          {{mylocations[26].desc}}
        </p>
       </agm-info-window>
      </agm-marker>
      <agm-marker [latitude] = mylocations[27].latitude [longitude] =mylocations[27].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
          <p>
            {{mylocations[27].desc}}
          </p>
         </agm-info-window>
        </agm-marker>
        <agm-marker [latitude] = mylocations[28].latitude [longitude] =mylocations[28].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
            <p>
              {{mylocations[28].desc}}
            </p>
           </agm-info-window>
          </agm-marker>
          <agm-marker [latitude] = mylocations[29].latitude [longitude] =mylocations[29].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
              <p>
                {{mylocations[29].desc}}
              </p>
             </agm-info-window>
            </agm-marker>
            <agm-marker [latitude] = mylocations[30].latitude [longitude] =mylocations[30].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                <p>
                  {{mylocations[30].desc}}
                </p>
               </agm-info-window>
              </agm-marker>
              <agm-marker [latitude] = mylocations[31].latitude [longitude] =mylocations[31].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                  <p>
                    {{mylocations[31].desc}}
                  </p>
                 </agm-info-window>
                </agm-marker>
                <agm-marker [latitude] = mylocations[32].latitude [longitude] =mylocations[32].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                    <p>
                      {{mylocations[32].desc}}
                    </p>
                   </agm-info-window>
                  </agm-marker>
                  <agm-marker [latitude] = mylocations[33].latitude [longitude] =mylocations[33].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                      <p>
                        {{mylocations[33].desc}}
                      </p>
                     </agm-info-window>
                    </agm-marker>
                    <agm-marker [latitude] = mylocations[34].latitude [longitude] =mylocations[34].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                        <p>
                          {{mylocations[34].desc}}
                        </p>
                       </agm-info-window>
                      </agm-marker>
                      <agm-marker [latitude] = mylocations[35].latitude [longitude] =mylocations[35].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                          <p>
                            {{mylocations[35].desc}}
                          </p>
                         </agm-info-window>
                        </agm-marker>
                        <agm-marker [latitude] = mylocations[36].latitude [longitude] =mylocations[36].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                            <p>
                              {{mylocations[36].desc}}
                            </p>
                           </agm-info-window>
                          </agm-marker>
                          <agm-marker [latitude] = mylocations[37].latitude [longitude] =mylocations[37].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                              <p>
                                {{mylocations[37].desc}}
                              </p>
                             </agm-info-window>
                            </agm-marker>
                            <agm-marker [latitude] = mylocations[38].latitude [longitude] =mylocations[38].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                <p>
                                  {{mylocations[38].desc}}
                                </p>
                               </agm-info-window>
                              </agm-marker>
                              <agm-marker [latitude] = mylocations[39].latitude [longitude] =mylocations[39].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                  <p>
                                    {{mylocations[39].desc}}
                                  </p>
                                 </agm-info-window>
                                </agm-marker>
                                <agm-marker [latitude] = mylocations[40].latitude [longitude] =mylocations[40].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                    <p>
                                      {{mylocations[40].desc}}
                                    </p>
                                   </agm-info-window>
                                  </agm-marker>
                                   <agm-marker [latitude] = mylocations[41].latitude [longitude] =mylocations[41].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                    <p>
                                        {{mylocations[41].desc}}
                                      </p>
                                     </agm-info-window>
                                    </agm-marker>
                                    <agm-marker [latitude] = mylocations[42].latitude [longitude] =mylocations[42].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                        <p>
                                          {{mylocations[42].desc}}
                                        </p>
                                       </agm-info-window>
                                      </agm-marker>
                                      <agm-marker [latitude] = mylocations[43].latitude [longitude] =mylocations[43].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                          <p>
                                            {{mylocations[43].desc}}
                                          </p>
                                         </agm-info-window>
                                        </agm-marker>
                                        <agm-marker [latitude] = mylocations[44].latitude [longitude] =mylocations[44].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                            <p>
                                              {{mylocations[44].desc}}
                                            </p>
                                           </agm-info-window>
                                          </agm-marker>
                                          <agm-marker [latitude] = mylocations[45].latitude [longitude] =mylocations[45].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[45].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[46].latitude [longitude] =mylocations[46].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[46].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[47].latitude [longitude] =mylocations[47].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[47].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[48].latitude [longitude] =mylocations[48].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[48].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[49].latitude [longitude] =mylocations[49].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[49].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>

                                            <agm-marker [latitude] = mylocations[50].latitude [longitude] =mylocations[50].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[50].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[51].latitude [longitude] =mylocations[51].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[51].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>

                                            <agm-marker [latitude] = mylocations[52].latitude [longitude] =mylocations[52].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[52].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[53].latitude [longitude] =mylocations[53].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[53].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>

                                            <agm-marker [latitude] = mylocations[54].latitude [longitude] =mylocations[54].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[54].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[55].latitude [longitude] =mylocations[55].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[55].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[56].latitude [longitude] =mylocations[56].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[56].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[57].latitude [longitude] =mylocations[57].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[57].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[58].latitude [longitude] =mylocations[58].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[58].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[59].latitude [longitude] =mylocations[59].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[59].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[60].latitude [longitude] =mylocations[60].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[60].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[61].latitude [longitude] =mylocations[61].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[61].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[62].latitude [longitude] =mylocations[62].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[62].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[63].latitude [longitude] =mylocations[63].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[63].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[64].latitude [longitude] =mylocations[64].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[64].desc}}
1                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[65].latitude [longitude] =mylocations[65].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[65].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[66].latitude [longitude] =mylocations[66].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[66].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[67].latitude [longitude] =mylocations[67].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[67].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[68].latitude [longitude] =mylocations[68].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[68].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[69].latitude [longitude] =mylocations[69].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[69].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[70].latitude [longitude] =mylocations[70].longitude [iconUrl] = " 'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[70].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[71].latitude [longitude] =mylocations[71].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[71].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[72].latitude [longitude] =mylocations[72].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[72].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[73].latitude [longitude] =mylocations[73].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[73].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[74].latitude [longitude] =mylocations[74].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[74].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[75].latitude [longitude] =mylocations[75].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[75].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[76].latitude [longitude] =mylocations[76].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[76].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[77].latitude [longitude] =mylocations[77].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[77].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[78].latitude [longitude] =mylocations[78].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[78].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[79].latitude [longitude] =mylocations[79].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[79].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[80].latitude [longitude] =mylocations[80].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[80].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[81].latitude [longitude] =mylocations[81].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[81].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>

                                            <agm-marker [latitude] = mylocations[82].latitude [longitude] =mylocations[82].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                <p>
                                                  {{mylocations[82].desc}}
                                                </p>
                                               </agm-info-window>
                                              </agm-marker>

                                 <agm-marker [latitude] = mylocations[83].latitude [longitude] =mylocations[83].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                              <p>
                                                {{mylocations[83].desc}}
                                              </p>
                                             </agm-info-window>
                                            </agm-marker>
                                            <agm-marker [latitude] = mylocations[84].latitude [longitude] =mylocations[84].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                <p>
                                                  {{mylocations[84].desc}}
                                                </p>
                                               </agm-info-window>
                                              </agm-marker>
                                              <agm-marker [latitude] = mylocations[85].latitude [longitude] =mylocations[85].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                  <p>
                                                    {{mylocations[85].desc}}
                                                  </p>
                                                 </agm-info-window>
                                                </agm-marker>
                                                <agm-marker [latitude] = mylocations[86].latitude [longitude] =mylocations[86].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                    <p>
                                                      {{mylocations[86].desc}}
                                                    </p>
                                                   </agm-info-window>
                                                  </agm-marker>
                                                  <agm-marker [latitude] = mylocations[87].latitude [longitude] =mylocations[87].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                      <p>
                                                        {{mylocations[87].desc}}
                                                      </p>
                                                     </agm-info-window>
                                                    </agm-marker>
                                                    <agm-marker [latitude] = mylocations[88].latitude [longitude] =mylocations[88].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                        <p>
                                                          {{mylocations[88].desc}}
                                                        </p>
                                                       </agm-info-window>
                                                      </agm-marker>
                                                      <agm-marker [latitude] = mylocations[89].latitude [longitude] =mylocations[89].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                          <p>
                                                            {{mylocations[89].desc}}
                                                          </p>
                                                         </agm-info-window>
                                                        </agm-marker>
                                                        <agm-marker [latitude] = mylocations[90].latitude [longitude] =mylocations[90].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                            <p>
                                                              {{mylocations[90].desc}}
                                                            </p>
                                                           </agm-info-window>
                                                          </agm-marker>
                                                          <agm-marker [latitude] = mylocations[91].latitude [longitude] =mylocations[91].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                              <p>
                                                                {{mylocations[91].desc}}
                                                              </p>
                                                             </agm-info-window>
                                                            </agm-marker>
                                                            <agm-marker [latitude] = mylocations[92].latitude [longitude] =mylocations[92].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                <p>
                                                                  {{mylocations[92].desc}}
                                                                </p>
                                                               </agm-info-window>
                                                              </agm-marker>
                                                              <agm-marker [latitude] = mylocations[93].latitude [longitude] =mylocations[93].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                  <p>
                                                                    {{mylocations[93].desc}}
                                                                  </p>
                                                                 </agm-info-window>
                                                                </agm-marker>
                                                                <agm-marker [latitude] = mylocations[94].latitude [longitude] =mylocations[94].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                    <p>
                                                                      {{mylocations[94].desc}}
                                                                    </p>
                                                                   </agm-info-window>
                                                                  </agm-marker>
                                                                  <agm-marker [latitude] = mylocations[95].latitude [longitude] =mylocations[95].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                      <p>
                                                                        {{mylocations[95].desc}}
                                                                      </p>
                                                                     </agm-info-window>
                                                                    </agm-marker>
                                                                    <agm-marker [latitude] = mylocations[96].latitude [longitude] =mylocations[96].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                        <p>
                                                                          {{mylocations[96].desc}}
                                                                        </p>
                                                                       </agm-info-window>
                                                                      </agm-marker>
                                                                      <agm-marker [latitude] = mylocations[97].latitude [longitude] =mylocations[97].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                          <p>
                                                                            {{mylocations[97].desc}}
                                                                          </p>
                                                                         </agm-info-window>
                                                                        </agm-marker>
                                                                        <agm-marker [latitude] = mylocations[98].latitude [longitude] =mylocations[98].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                            <p>
                                                                              {{mylocations[98].desc}}
                                                                            </p>
                                                                           </agm-info-window>
                                                                          </agm-marker>
                                                                          <agm-marker [latitude] = mylocations[99].latitude [longitude] =mylocations[99].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                              <p>
                                                                                {{mylocations[99].desc}}
                                                                              </p>
                                                                             </agm-info-window>
                                                                            </agm-marker>
                                                                            <agm-marker [latitude] = mylocations[100].latitude [longitude] =mylocations[100].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                                <p>
                                                                                  {{mylocations[100].desc}}
                                                                                </p>
                                                                               </agm-info-window>
                                                                              </agm-marker>
                                                                              <agm-marker [latitude] = mylocations[101].latitude [longitude] =mylocations[101].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                                  <p>
                                                                                    {{mylocations[101].desc}}
                                                                                  </p>
                                                                                 </agm-info-window>
                                                                                </agm-marker>
                                                                                <agm-marker [latitude] = mylocations[102].latitude [longitude] =mylocations[102].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                                    <p>
                                                                                      {{mylocations[102].desc}}
                                                                                    </p>
                                                                                   </agm-info-window>
                                                                                  </agm-marker>
                                                                                  <agm-marker [latitude] = mylocations[103].latitude [longitude] =mylocations[103].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                                      <p>
                                                                                        {{mylocations[103].desc}}
                                                                                      </p>
                                                                                     </agm-info-window>
                                                                                    </agm-marker>
                                                                                    <agm-marker [latitude] = mylocations[104].latitude [longitude] =mylocations[104].longitude [iconUrl] = "'assets/imgs/onlycoffee.png'">    <agm-info-window>
                                                                                        <p>
                                                                                          {{mylocations[104].desc}}
                                                                                        </p>
                                                                                       </agm-info-window>
                                                                                      </agm-marker>


                                          </agm-marker-cluster>

  </agm-map>
  </div>
  <ion-grid>
   <ion-row>
     <ion-col>
     
     </ion-col>
   </ion-row>
 </ion-grid>
 
</ion-content>
