
<ion-header text-center>
    <ion-navbar text-center>
            <ion-grid>
                    <ion-row>
                        <ion-col push-1>
                                <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                        </ion-col>
                    </ion-row>
                </ion-grid>
             


              <ion-buttons end>
                    <button ion-button icon-only menuToggle>
                      <img src="assets/imgs/Filters2.png">
                    </button>
                </ion-buttons>
          </ion-navbar>

</ion-header>


<ion-content padding>
        <h5 text-center><p ion-text color=light2>SHOP</p></h5>
<h2><p ion-text color="light" text-center><b>Ethical, Eco Friendly Shopping</b></p></h2>
<p text-center color="light2">Help keep plastic rubbish from ending up in our oceans. Shop from our range of eco-friendly drink bottles, coffee cups and straws at our online store, Wholesome Hub.</p>

  <ion-grid>
    <ion-row align-items-end>
<ion-col>
    <ion-col push-2> <img alt= "bottle" width = "45" height = "150" src="assets/imgs/rdbBig.png"></ion-col>
       
       <p color="light2" text-center>Reusable Drink Bottles</p>
       
        <a href = "https://www.wholesomehub.net.au/shop/eco-home/reusable-water-bottles/1042"><img src="assets/imgs/Buynow3.png"></a>
        
      </ion-col>
            <ion-col>
       <ion-col push-1> <img alt="mug" width = "80" height = "95" src="assets/imgs/rcc.png" ></ion-col>
        <p color="light2" text-center>Reusable Coffee Cups</p>
       
    <a href = "https://www.wholesomehub.net.au/shop/eco-home/reusable-coffee-cups/1028"><img src="assets/imgs/Buynow3.png"></a>
         
      </ion-col>
   
      <ion-col>
        <ion-col push-4>  <img alt="straw" width = "60" height = "120" src="assets/imgs/reusablestraws.png" ></ion-col>
          <p color="light2" text-center>Reusable Straws</p>
        
         <a href = "https://www.wholesomehub.net.au/shop/eco-home/reusable-straws/1038"><img src="assets/imgs/Buynow3.png"></a>
           
        </ion-col>
     
    </ion-row>

  
    </ion-grid>
  
    <div class="button-bottom">
            <a href="https://www.wholesomehub.net.au"><img src="assets/imgs/takemetohub3.png"></a></div>
            
</ion-content>
