// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00aeef,
  secondary:  #f4f4f4,
  danger:     #00aeef,
  light:      #004c9a,
  dark:       rgb(126, 215, 248),
  light1: #999999,
  light2:#625e5e,
  cup:    #a67652,
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

//@import "roboto";
//@import "noto-sans";


@font-face{
  font-family: 'Avenir';
  font-style: black;
  font-weight: 600;
  src: url('../assets/fonts/avenir/black/avenir-Black-webfont.ttf');
}

@font-face{
  font-family: 'Avenir';
  font-style: book;
  font-weight: 450;
  src: url('../assets/fonts/avenir/book/avenirLTStd-Book.otf');
}

@font-face{
  font-family: 'Avenir';
  font-style: medium;
  font-weight: 550;
  src: url('../assets/fonts/avenir/medium/avenir-Medium-webfont.ttf');
}

$font-family-base: "Avenir";
body{
  font-family: "Avenir" !important;
  font-weight: 450 !important;

}

h1 {
  font-family: "Avenir" !important;
  font-weight: 600 !important;
} 

h2 {
  font-family: "Avenir" !important;
  font-weight: 600 !important;
} 
h3 {
  font-family: "Avenir" !important;
  font-weight: 550 !important;
} 