<!--This page has two buttons for the user "Become Refillr" and "Suggest Refillr" to join Refillr app

Mode code needs to be implemented-->
<ion-header>

  
      <ion-navbar text-center>
          <img alt = "logo" height="20" src="assets/imgs/logo.png" >
      </ion-navbar>
  

</ion-header>


<ion-content padding>
  <h3 text-center>Join Us</h3>
  <ion-list>
      <button ion-item [navPush]="becomeRefillrfront">
        <ion-icon name = "add" item-left>
        </ion-icon>  
      Become a RefillR
      </button>
      <button ion-item [navPush]="suggestRefillr">
          <ion-icon name = "attach" item-left>
        </ion-icon>  
      Suggest a RefillR
      </button>
  </ion-list>
 </ion-content>
