
<!-- This code is for side bar, where user can login, logout, register and look for maps-->
<ion-menu [content]= "nav">
    <ion-header>
        <ion-toolbar>
                
        <ion-icon name="/assets/imgs/logo.png"></ion-icon>

        </ion-toolbar>
     </ion-header>
     
     <ion-content>
                    <button 
                    ion-item
                    icon-left
                    (click) = "onLoad(mapPage)"
                    *ngIf="!isAuthenticated">  <!-- Button for maps is visible, if user is not signed in -->
                    <ion-icon name="map"></ion-icon>
                     Maps
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click) = "onLoad(loginPage)"
                    *ngIf="!isAuthenticated">   <!-- Button for login is visible, if user is not signed in -->
                    <ion-icon name="log-in"></ion-icon>
                     Login
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click) = "onLoad(registrationPage)"
                    *ngIf="!isAuthenticated">  <!-- Button for registration is visible, if user is not signed in -->
                    <ion-icon name="person" ></ion-icon>
                     Registration
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click)="loadwaterstationmapPage()"
                    *ngIf="isAuthenticated">
                            <img src="assets/imgs/waterrefilonly.png">
                            <p>Water Refill Only</p>
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click) = "loadwaterandcofeemapPage()"
                    *ngIf="isAuthenticated">
                            <img src="assets/imgs/fountainandcoffee.png">
                            <p>  Water Refill & Discounted Coffee</p>
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click)="loadcafemapPage()"
                    *ngIf="isAuthenticated">              
                            <img src="assets/imgs/onlycoffee.png">
                            <p>Discounted Coffee Only</p>
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click)="loadpublicfountainPage()"
                    *ngIf="isAuthenticated">
                             <img src="assets/imgs/fountain.png">
                             <p>   Water Fountain</p>
                    </button>
                    <button 
                    ion-item
                    icon-left
                    (click) = "onLogout()"
                    *ngIf="isAuthenticated"> <!-- Button for logout is visible, if user is signed in -->
                    <ion-icon name="log-out" ></ion-icon>
                     Logout
                    </button>
                    
    </ion-content>
    
</ion-menu>
<ion-nav [root] = "tabsPage" #nav></ion-nav>