<!--
  This page is to display all the locations of public fountains on the map
-->
<ion-header>

    <ion-navbar color="secondary" text-center>
        <ion-grid>
            <ion-row>
                <ion-col pull-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/filters.png">
            </button>
        </ion-buttons>
    
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="container">
        <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" ref-search >
        </div>
    
            <!-- Static data for demonstartion purposes-->
            <agm-map [latitude] = 'latnew'
                     [longitude]= 'longnew'
                     [zoom] = '12'>
                     <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
              <agm-marker [latitude] = 'latnew' [longitude] = 'longnew'>
                <agm-info-window>
                    <p>you are here!</p>
                </agm-info-window>
              </agm-marker>
              <agm-marker [latitude] = 'lat1' [longitude] = 'lng1' [iconUrl] = "'assets/imgs/fountain.png'">
                <agm-info-window>
                  <h5>{{desc1}}</h5>
                </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat2' [longitude] = 'lng2' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc2}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat3' [longitude] = 'lng3' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc3}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat4' [longitude] = 'lng4' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc4}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat5' [longitude] = 'lng5'[iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc5}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat6' [longitude] = 'lng6'[iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc6}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat7' [longitude] = 'lng7'[iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc7}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat8' [longitude] = 'lng8'[iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc8}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat9' [longitude] = 'lng9' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc9}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat10' [longitude] = 'lng10' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc10}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat11' [longitude] = 'lng11' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc11}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat12' [longitude] = 'lng12' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc12}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat13' [longitude] = 'lng13' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc13}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat14' [longitude] = 'lng14' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc14}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat15' [longitude] = 'lng15' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc15}}</h5>
          </agm-info-window>
        
        </agm-marker>
        <agm-marker [latitude] = 'lat16' [longitude] = 'lng16' [iconUrl] = "'assets/imgs/fountain.png'">
          <agm-info-window>
            <h5>{{desc16}}</h5>
          </agm-info-window>
        
        </agm-marker>
              <agm-marker [latitude] = 'lat17' [longitude] = 'lng17' [iconUrl] = "'assets/imgs/fountain.png'"></agm-marker>
              <agm-marker [latitude] = 'lat28' [longitude] = 'lng28' [iconUrl] = "'assets/imgs/fountain.png'"></agm-marker>
              <agm-marker [latitude] = 'lat39' [longitude] = 'lng39' [iconUrl] = "'assets/imgs/fountain.png'"></agm-marker>
              <agm-marker [latitude] = 'lat40' [longitude] = 'lng40' [iconUrl] = "'assets/imgs/fountain.png'"></agm-marker>
              <agm-marker [latitude] = 'lat51' [longitude] = 'lng51' [iconUrl] = "'assets/imgs/fountain.png'"></agm-marker>

              <agm-marker [latitude] = mylocations[94].latitude [longitude] =mylocations[94].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                  <p>
                    {{mylocations[94].desc}}
                  </p>
                 </agm-info-window>
                </agm-marker>
                <agm-marker [latitude] = mylocations[95].latitude [longitude] =mylocations[95].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                    <p>
                      {{mylocations[95].desc}}
                    </p>
                   </agm-info-window>
                  </agm-marker>
                  <agm-marker [latitude] = mylocations[96].latitude [longitude] =mylocations[96].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                      <p>
                        {{mylocations[96].desc}}
                      </p>
                     </agm-info-window>
                    </agm-marker>
                    <agm-marker [latitude] = mylocations[97].latitude [longitude] =mylocations[97].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                        <p>
                          {{mylocations[97].desc}}
                        </p>
                       </agm-info-window>
                      </agm-marker>
                      <agm-marker [latitude] = mylocations[98].latitude [longitude] =mylocations[98].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                          <p>
                            {{mylocations[98].desc}}
                          </p>
                         </agm-info-window>
                        </agm-marker>
                        <agm-marker [latitude] = mylocations[99].latitude [longitude] =mylocations[99].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                            <p>
                              {{mylocations[99].desc}}
                            </p>
                           </agm-info-window>
                          </agm-marker>
                          <agm-marker [latitude] = mylocations[100].latitude [longitude] =mylocations[100].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                              <p>
                                {{mylocations[100].desc}}
                              </p>
                             </agm-info-window>
                            </agm-marker>
                            <agm-marker [latitude] = mylocations[101].latitude [longitude] =mylocations[101].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                <p>
                                  {{mylocations[101].desc}}
                                </p>
                               </agm-info-window>
                              </agm-marker>
                              <agm-marker [latitude] = mylocations[102].latitude [longitude] =mylocations[102].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                  <p>
                                    {{mylocations[102].desc}}
                                  </p>
                                 </agm-info-window>
                                </agm-marker>
                                <agm-marker [latitude] = mylocations[103].latitude [longitude] =mylocations[103].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                    <p>
                                      {{mylocations[103].desc}}
                                    </p>
                                   </agm-info-window>
                                  </agm-marker>
                                  <agm-marker [latitude] = mylocations[104].latitude [longitude] =mylocations[104].longitude [iconUrl] = "'assets/imgs/fountain.png'">    <agm-info-window>
                                      <p>
                                        {{mylocations[104].desc}}
                                      </p>
                                     </agm-info-window>
                                    </agm-marker>


            </agm-marker-cluster>
            </agm-map>
  </div>
  <button ion-button (click)="suggestRefillr()"><img src="assets/imgs/JoinNow3.png"></button> 
</ion-content>
