<!--
  Page to display the organizations involved and supporting the Refillr app
-->
<ion-header>

  <ion-navbar>
    <ion-title>organization</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
