<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center >
    <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col pull-1>
                <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-navbar>
  </ion-header>
  

<ion-content padding>
    <h5 text-center><p ion-text color=light2>COMING SOON</p></h5>

    <p ion-text color=light2>We know change can be hard and that apparently it takes 21 days to create a new habit so we’re here to help.</p>

    <p ion-text color=light2>Soon you’ll be able to sign up to receive daily notifications which means you’ll never leave home or work without your trusty reusable water bottle or coffee cup.</p>

    <p ion-text color=light2>Stay tuned....</p>
</ion-content>
