<!--
  This page displays all the water stations on the maps.

  Need modification. Need to add code for search and change the icons
-->
<ion-header>

    <ion-navbar color="secondary" text-center>
        <ion-grid>
            <ion-row>
                <ion-col pull-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/filters.png">
            </button>
        </ion-buttons>
    
  </ion-navbar>
</ion-header>
  

<ion-content padding>
    <div class="container">
        <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" ref-search >
        </div>
     <agm-map [latitude] = 'latnew'
    [longitude]= 'longnew'
    [zoom] = '12'>
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

<agm-marker [latitude] = 'latnew' [longitude] = 'longnew'><agm-info-window>
    <p>you are here!</p>
</agm-info-window></agm-marker>

<agm-marker [latitude] = mylocations[1].latitude [longitude] =mylocations[1].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'"><agm-info-window>
        <p>
          {{mylocations[1].desc}}
        </p>
       </agm-info-window>
     </agm-marker>
     <agm-marker [latitude] = mylocations[2].latitude [longitude] =mylocations[2].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'"><agm-info-window>
       <p>
         {{mylocations[2].desc}}
       </p>
      </agm-info-window>
    </agm-marker>
    <agm-marker [latitude] = mylocations[3].latitude [longitude] =mylocations[3].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'"><agm-info-window>
     <p>
       {{mylocations[3].desc}}
     </p>
    </agm-info-window>
   </agm-marker>
     
   <agm-marker [latitude] = mylocations[4].latitude [longitude] =mylocations[4].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'"><agm-info-window>
     <p>
       {{mylocations[4].desc}}
     </p>
    </agm-info-window>
   </agm-marker>
   <agm-marker [latitude] = mylocations[5].latitude [longitude] =mylocations[5].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'"><agm-info-window>
     <p>
       {{mylocations[5].desc}}
     </p>
    </agm-info-window>
   </agm-marker><agm-marker [latitude] = mylocations[6].latitude [longitude] =mylocations[6].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'">    <agm-info-window>
     <p>
       {{mylocations[6].desc}}
     </p>
    </agm-info-window>
   </agm-marker><agm-marker [latitude] = mylocations[7].latitude [longitude] =mylocations[7].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'">    <agm-info-window>
     <p>
       {{mylocations[7].desc}}
     </p>
    </agm-info-window>
   </agm-marker><agm-marker [latitude] = mylocations[8].latitude [longitude] =mylocations[8].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'">    <agm-info-window>
     <p>
       {{mylocations[8].desc}}
     </p>
    </agm-info-window>
   </agm-marker><agm-marker [latitude] = mylocations[9].latitude [longitude] =mylocations[9].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'">    <agm-info-window>
     <p>
       {{mylocations[9].desc}}
     </p>
    </agm-info-window>
   </agm-marker><agm-marker [latitude] = mylocations[10].latitude [longitude] =mylocations[10].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'">    <agm-info-window>
     <p>
       {{mylocations[10].desc}}
     </p>
    </agm-info-window>
   </agm-marker>
   <agm-marker [latitude] = mylocations[11].latitude [longitude] =mylocations[11].longitude [iconUrl] = "'assets/imgs/waterrefilonly.png'">    <agm-info-window>
     <p>
       {{mylocations[11].desc}}
     </p>
    </agm-info-window>
   </agm-marker>
</agm-marker-cluster>

</agm-map>
</div>
<button ion-button (click)="suggestRefillr()"><img src="assets/imgs/JoinNow3.png"></button> 
</ion-content>
