page-waterstationmap {
    agm-map{
        height: 570px;
    }
    input {
        width: 370px;
        padding: 0 8px;
        padding: 8px 0;
        font-size: 16px;
    }
    ion-content {
        background: #ffffff ! important;
        
            }
}
