page-track {
   
    ion-card{
        width: 70%;
    }
      .myOverlay{
          width: 60%;
          height: 60px;
          position: absolute;
          z-index: 99;
          left: 42%;
          bottom: 80px;
          opacity: 0.5;
        
          color: rgb(6, 47, 160);
      
      }
      .myOverlay1{
        width: 60%;
        height: 60px;
        position: absolute;
        z-index: 99;
        left: 40%;
        bottom: 17%;
        opacity: 0.5;
      
        color: rgb(242, 241, 247);
    
      }

      .myOverlay2{
        width: 60%;
        height: 50px;
        position: absolute;
        z-index: 99;
        left: 42%;
        bottom: 40%;
        opacity: 0.5;
        color: rgb(6, 47, 160);
      }

      .myOverlay3{
        width: 60%;
        height: 60px;
        position: absolute;
        z-index: 99;
        left: 36%;
        bottom: 17%;
        opacity: 0.5;
        color: rgb(242, 241, 247);
    
      }
}
