<!--
  Generated template for the TrackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center>

    <ion-navbar>
        <ion-grid>
            <ion-row>
              <ion-col pull-1>
                  <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-navbar>

</ion-header>


<ion-content padding>

    <h5 text-center><p ion-text color="light2">TRACK MY IMPACT</p></h5>
    <h2 text-center><p ion-text color="light"><b>What I've Saved So Far</b></p></h2>
  <ion-grid>
    <ion-row align-items-end>
      <ion-col >
        <ion-col push-2>
          <img alt= "plasticbottle" width="100" height="210" src="assets/imgs/plasticbottel3.png"/></ion-col>
          <ion-card class="myCard">
             
              <div class="myOverlay">
             <div class="card-title" ><h1><b color="danger">{{waternum}}</b></h1></div>
                
              </div>
              <div class="myOverlay1">
                  <div class="card-title"><p><b>Plastic</b></p><p> <b>Water</b></p><p><b> Bottle</b></p></div>
                     
                   </div>
            </ion-card>
           
            
          </ion-col>
    
       <ion-col>
         <ion-col push-1>
            <img alt= "coffee" width="100" height="130" src="assets/imgs/coffeecup.png"/></ion-col>
            <ion-card class="myCard">
               
                <div class="myOverlay2">
               <div class="card-title" color="cup"><h1><b>{{coffeenum}}</b></h1></div>
                  
                </div>
                <div class="myOverlay3">
                    <div class="card-title"><p><b>Coffee</b></p><p><b> cups</b></p></div>
                       
                     </div>
                     
              </ion-card>
            </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col></ion-col>
      <p ion-text color="light2">ADD A BOTTLE</p>      
        
        <ion-col>
              <div (click)="Addon('bottle')" ><img alt="" src="/assets/imgs/addabottle.png"></div>  
            </ion-col>
<ion-col></ion-col>
            
              <p ion-text color="light2">ADD A CUP</p>
              
              <ion-col>
                  <div (click)="Addon('cup')"><img alt="" src="/assets/imgs/addacup.png"></div>
                </ion-col>
                <ion-col></ion-col>
  </ion-row>
    <h2 text-center><p ion-text color="light"><b>My Refillr Badges</b></p></h2>
    <h6 ion-text color="light2"><p text-center>For the awesome work you've been doing,
    here are the badges you've earned so far.</p></h6>
    <ion-row align-items-end>
      <ion-col>
         
        <img src="assets/imgs/Shrimp.png">  
<div *ngIf="waternum > 10">
  <img src="assets/imgs/Check_1.png">
</div>

        <ion-row text-center>10</ion-row>
        
    </ion-col>
   
<ion-col>
  <img alt= "fish"  src="assets/imgs/Fish.png"/>
  <div *ngIf="waternum > 50">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row text-center>50</ion-row>
</ion-col>
<ion-col>
  <img alt= "seabird"  src="assets/imgs/seabird.png"/>
  <div *ngIf="waternum > 100">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row text-center>100</ion-row>
</ion-col>
<ion-col>
  <img alt= "turtle"  src="assets/imgs/Turtle.png"/>
  <div *ngIf="waternum > 200">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row text-center>200</ion-row>
</ion-col>
</ion-row>
<ion-row>


<ion-col>
  <img alt= "penguin"  src="assets/imgs/Penguin.png"/>
  <div *ngIf="waternum > 300">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row text-center>300</ion-row>
</ion-col>
<ion-col>
  <img alt= "dolphin"  src="assets/imgs/Dolphin.png"/>
  <div *ngIf="waternum > 400">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row text-center>400</ion-row>
</ion-col>
<ion-col>
  <img alt= "shark"  src="assets/imgs/Shark.png"/>
  <div *ngIf="waternum > 500">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row text-center>500</ion-row>
</ion-col>
<ion-col>
  <img alt= "whale"  src="assets/imgs/Whale.png"/>
  <div *ngIf="waternum > 600">
    <img src="assets/imgs/Check_1.png">
  </div>
  
  <ion-row>600</ion-row>
</ion-col>

</ion-row>

<ion-row>
  <button ion-button full color="danger" (click)="sharemyimpact()">Share my Impact!</button>
</ion-row>
  </ion-grid>

</ion-content>
