<!--
  Generated template for the PolicyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header text-center >
    <ion-navbar>
      <ion-grid>
          <ion-row>
            <ion-col pull-1>
                <img alt = "logo" height="20" src="assets/imgs/Logo2.png" >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-navbar>
  </ion-header>
  


<ion-content padding>
    <h5 text-center><p ion-text color=light2>PRIVACY POLICY</p></h5>
<p ion-text color=light2>Natural Well Pty Ltd
</p>
<p ion-text color=light2>1.	We respect your privacy
</p>
<p ion-text color=light2>1.1.  Natural Well Pty Ltd respects your right to privacy and is committed to safeguarding the privacy of our customers and software application users. We adhere to the National Privacy Principles established by the Privacy Act 1988 (Cth). This policy sets out how we collect and treat your personal information.</p>
<p ion-text color=light2>1.2.  "Personal information" is information we hold which is identifiable as being about you.</p>
<p ion-text color=light2>2.	Collection of personal information</p>
<p ion-text color=light2>2.1.  Natural Well Pty Ltd will, from time to time, receive and store personal information you enter onto our software application Refillr, provide to us directly or give to us in other forms.
</p>
<p ion-text color=light2>2.2.  You may provide basic information such as your name, phone number, address and email address to enable us to send information, provide updates and process your product or service order. We may collect additional information at other times, including but not limited to, when you provide feedback, when you provide information about your personal or business affairs, change your content or email preference, respond to surveys and/or promotions, provide financial or credit card information, or communicate with our customer support.</p>
<p ion-text color=light2>2.3.  Additionally, we may also collect any other information you provide while interacting with us.</p>
<p ion-text color=light2>3.	How we collect your personal information</p>
<p ion-text color=light2>3.1.  Natural Well Pty Ltd collects personal information from you in a variety of ways, including when you interact with us electronically or in person, when you access our software application and when we provide our services to you. We may receive personal information from third parties. If we do, we will protect it as set out in this Privacy Policy.
</p>
<p ion-text color=light2>4.	Use of your personal information</p>
<p ion-text color=light2>4.1.  Natural Well Pty Ltd may use personal information collected from you to provide you with information, updates and our services. We may also make you aware of new and additional products, services and opportunities available to you. We may use your personal information to improve our products and services and better understand your needs.</p>
<p ion-text color=light2>4.2.  The Application may make third party social media features available to its users. We cannot ensure the security of any information you choose to make public in a social media feature. Also, we cannot ensure that parties who have access to such publicly available information will respect your privacy. </p>
<p ion-text color=light2>Natural Well Pty Ltd may contact you by a variety of measures including, but not limited to telephone, email, sms or mail.</p>
<p ion-text color=light2> 5.	Disclosure of your personal information</p>
<p ion-text color=light2>5.1.  We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this Policy. Personal information is only supplied to a third party when it is required for the delivery of our services.</p>
<p ion-text color=light2>5.2.  We may from time to time need to disclose personal information to comply with a legal requirement, such as a law, regulation, court order, subpoena, warrant, in the course of a legal proceeding or in response to a law enforcement agency request.</p>
<p ion-text color=light2>5.3.  We may also use your personal information to protect the copyright, trademarks, legal rights, property or safety of Natural Well Pty Ltd, its application, website and customers or third parties.</p>
<p ion-text color=light2>5.4.  Information that we collect may from time to time be stored, processed in or transferred between parties located in countries outside of Australia. </p>
<p ion-text color=light2>5.5.  If there is a change of control in our business or a sale or transfer of business assets, we reserve the right to transfer to the extent permissible at law our user databases, together with any personal information and non-personal information contained in those databases. This information may be disclosed to a potential purchaser under an agreement to maintain confidentiality. We would seek to only disclose information in good faith and where required by any of the above circumstances.</p>
<p ion-text color=light2>5.6.  By providing us with personal information, you consent to the terms of this Privacy Policy and the types of disclosure covered by this Policy. Where we disclose your personal information to third parties, we will request that the third party follow this Policy regarding handling your personal information.</p>
<p ion-text color=light2>6.	Security of your personal information</p>
<p ion-text color=light2>6.1.  Natural Well Pty Ltd is committed to ensuring that the information you provide to us is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure.</p>
<p ion-text color=light2>6.2.  The transmission and exchange of information is carried out at your own risk. We cannot guarantee the security of any information that you transmit to us, or receive from us. Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that personal information that we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.</p>
<p ion-text color=light2>7.	Access to your personal information</p>
<p ion-text color=light2>7.1.  You may request details of personal information that we hold about you in accordance with the provisions of the Privacy Act 1988(Cth). A small administrative fee may be payable for the provision of information. If you would like a copy of the information which we hold about you or believe that any information we hold on you is inaccurate, out of date, incomplete, irrelevant or misleading, please email us at hello@refillr.com.au.</p>
<p ion-text color=light2>7.2.  We reserve the right to refuse to provide you with information that we hold about you, in certain circumstances set out in the Privacy Act.</p>
<p ion-text color=light2>8.	Complaints about privacy</p>
<p ion-text color=light2>8.1.  If you have any complaints about our privacy practices, please feel free to send in details of your complaints to  65 Sparks Ave, Fairfield, Victoria, 3078. We take complaints very seriously and will respond shortly after receiving written notice of your complaint.</p>
<p ion-text color=light2>9.	Op out right
  9.1.  You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at hello@refillr.com.au.</p>
<p ion-text color=light2>10.	Changes to Privacy Policy
</p>
<p ion-text color=light2>10.1.  Please be aware that we may change this Privacy Policy in the future. We may modify this Policy at any time, in our sole discretion and all modifications will be effective immediately upon our posting of the modifications on our website or notice board. Please check back from time to time to review our Privacy Policy.</p>
<p ion-text color=light2>  11.	Software Application</p>
<p ion-text color=light2> 11.1. When you use our Application</p>
<p ion-text color=light2>When you come to our application we may collect certain information such as mobile unique device ID, the IP address of your mobile device, mobile operating system, the type of mobile internet browsers you use, and information about the way you use the Application. This information is used in an aggregated manner to analyse how people use our site, such that we can improve our service.</p>
<p ion-text color=light2>11.2. Cookies</p>
<p ion-text color=light2> We may from time to time use cookies on our software application. Cookies are very small files which a website uses to identify you when you come back to the application and to store details about your use of the application. Cookies are not malicious programs that access or damage your computer, tablet or smartphone. Most devices automatically accept cookies but you can choose to reject cookies by changing your devise settings. However, this may prevent you from taking full advantage of our application.</p>
<p ion-text color=light2>11.3. Automatic collection
</p>
<p ion-text color=light2>The software Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile devices unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.</p>
<p ion-text color=light2>11.4. Third parties</p>
<p ion-text color=light2>Our software application may from time to time have links to other applications or websites not owned or controlled by us. These links are meant for your convenience only. Links to third party applications and websites do not constitute sponsorship or endorsement or approval of these third parties. Please be aware that Natural Well Pty Ltd is not responsible for the privacy practises of other such applications or websites. We encourage our users to be aware, when they leave our application or website, to read the privacy statements of each and every application or website that collects personal identifiable information.</p>
<p ion-text color=light2>11.5. Geo-location</p>
<p ion-text color=light2>When you visit the mobile application, we may use GPS technology (or other similar technology) to determine your current location in order to determine the city you are located within and display a location map with relevant advertisements. We will not share your current location with other users or partners.</p>









</ion-content>
