<ion-header>

    <ion-navbar color="secondary" text-center>
        <ion-grid>
            <ion-row>
                <ion-col pull-1>
                        <ion-title> <img alt = "logo" height="20" src="assets/imgs/Logo2.png" ></ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
     


      <ion-buttons end>
            <button ion-button icon-only menuToggle>
              <img src="assets/imgs/filters.png">
            </button>
        </ion-buttons>
    
  </ion-navbar>
</ion-header>
  

<ion-content padding>
    <div class="container">
        <div class="form-group">
            <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" ref-search >
        </div>
     <agm-map [latitude] = 'latnew'
    [longitude]= 'longnew'
    [zoom] = '12'>
    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">

<agm-marker [latitude] = 'latnew' [longitude] = 'longnew'><agm-info-window>
    <p>you are here!</p>
</agm-info-window></agm-marker>


<agm-marker [latitude] = mylocations[83].latitude [longitude] =mylocations[83].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
        <p>
          {{mylocations[83].desc}}
        </p>
       </agm-info-window>
      </agm-marker>
      <agm-marker [latitude] = mylocations[84].latitude [longitude] =mylocations[84].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
          <p>
            {{mylocations[84].desc}}
          </p>
         </agm-info-window>
        </agm-marker>
        <agm-marker [latitude] = mylocations[85].latitude [longitude] =mylocations[85].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
            <p>
              {{mylocations[85].desc}}
            </p>
           </agm-info-window>
          </agm-marker>
          <agm-marker [latitude] = mylocations[86].latitude [longitude] =mylocations[86].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
              <p>
                {{mylocations[86].desc}}
              </p>
             </agm-info-window>
            </agm-marker>
            <agm-marker [latitude] = mylocations[87].latitude [longitude] =mylocations[87].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                <p>
                  {{mylocations[87].desc}}
                </p>
               </agm-info-window>
              </agm-marker>
              <agm-marker [latitude] = mylocations[88].latitude [longitude] =mylocations[88].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                  <p>
                    {{mylocations[88].desc}}
                  </p>
                 </agm-info-window>
                </agm-marker>
                <agm-marker [latitude] = mylocations[89].latitude [longitude] =mylocations[89].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                    <p>
                      {{mylocations[89].desc}}
                    </p>
                   </agm-info-window>
                  </agm-marker>
                  <agm-marker [latitude] = mylocations[90].latitude [longitude] =mylocations[90].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                      <p>
                        {{mylocations[90].desc}}
                      </p>
                     </agm-info-window>
                    </agm-marker>
                    <agm-marker [latitude] = mylocations[91].latitude [longitude] =mylocations[91].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                        <p>
                          {{mylocations[91].desc}}
                        </p>
                       </agm-info-window>
                      </agm-marker>
                      <agm-marker [latitude] = mylocations[92].latitude [longitude] =mylocations[92].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                          <p>
                            {{mylocations[92].desc}}
                          </p>
                         </agm-info-window>
                        </agm-marker>
                        <agm-marker [latitude] = mylocations[93].latitude [longitude] =mylocations[93].longitude [iconUrl] = "'assets/imgs/fountainandcoffee.png'">    <agm-info-window>
                            <p>
                              {{mylocations[93].desc}}
                            </p>
                           </agm-info-window>
                          </agm-marker>

</agm-marker-cluster>

</agm-map>
</div>
<button ion-button (click)="suggestRefillr()"><img src="assets/imgs/JoinNow3.png"></button> 
</ion-content>
