<!--
  Generated template for the SuggestrefillrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar text-center>
        <img alt = "logo" height="20" src="assets/imgs/logo.png" >
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-title text-center> <h3> Become a Refillr</h3></ion-title>
    <h5>
        Don't find Refillr stations? Suggest one!
        <p>Please enter the details.</p>
      </h5>
      <form #f="ngForm"(ngSubmit)="submitSuggestRefillr(f)"> <!--Form to enter cafe's details-->
        <ion-item>
          
    
    <ion-label fixed><h4>Address:</h4></ion-label>
  </ion-item>

      <ion-item>
          <ion-label fixed></ion-label>
      <ion-input type="text"
      ngModel
      name="street"
      required
      placeholder="Street name">
    </ion-input>
  </ion-item>
   
    <ion-item>
        <ion-label fixed></ion-label>
        <ion-input type="text"
        ngModel
        name="suburb"
        required
        placeholder="Suburb">
    </ion-input>
      </ion-item>
      <ion-item>
          <ion-label fixed></ion-label>
          <ion-input type="text"
          ngModel
          name="city"
          required
          placeholder="city">
      </ion-input>
        </ion-item>
        <ion-item>
            <ion-label fixed></ion-label>
            <ion-input type="text"
            ngModel
            name="state"
            required
            placeholder="state">
        </ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed></ion-label>
              <ion-input type="text"
              ngModel
              name="post"
              required
              placeholder="post">
          </ion-input>
            </ion-item>
            <ion-grid>
                <ion-row>
                  <ion-col>

                  </ion-col>
                  <ion-col>

                  </ion-col>
                  <ion-col>
                    
                  </ion-col>
                  <ion-col>
                      <button ion-button type="submit" [disabled]="!f.valid">
                          Submit
                        </button>
                  </ion-col>
                </ion-row>
              </ion-grid>
             
            </form>
</ion-content>
